<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">	

	    <div class="jumbotron">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>    
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>{{mission_to_mars.headline}}</h2>
                <p>{{mission_to_mars.article}}</p>
                <h2>Featured Mars Image</h2>
                <img src={{mission_to_mars.featured_image}} width="400" height="400">
            </div>
            
            <div class="col-md-2"></div>
            <h2>Mars Weather</h2>
            <p>{{mission_to_mars.weather_tweet}}</p>
            <div class= "panel panel default">
                <div class="panel-body">
                    <h4>Mars Facts Table</h4>
                    <hr>
                    {{mission_to_mars.mars_facts_table | safe}}
                </div>
            </div>
                
                <div class="row">
	  	 	<div class="col-md-12">
	  	 	  <div class="row">
	  	 	  	<div class="col-md-6">
	  	 	      <img src={{mission_to_mars.cerberus}} width="400" 
	  	 	      height="400">
	  	 	      <img src={{mission_to_mars.schiaparelli}} width="400" height="400">
	  	 	    </div>
	  	 	    <div class="col-md-6">
	  	 	      <img src={{mission_to_mars.syrtis_major}} width="400" height="400">
	  	 	      <img src={{mission_to_mars.valles_marineris}} width="400"
	  	 	      height="400">
	  	 	    </div> 	
	  	 	  </div> 	
	  	 	</div>
	  	 </div>	  	
	  	</div>
	  </div>  
	</body>
	
</html>